.grid-menu { grid-area: header; }
.grid-left { grid-area: left;  }
.grid-main { grid-area: main; }
.grid-right { grid-area: right; }
.grid-footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'left main main main right right'
    'footer footer footer footer footer footer';
    
  grid-template-columns: 120px 2fr 2fr 2fr 1fr 2fr;
  grid-template-rows: 20vh auto minmax(10vh, 15vh);
  grid-gap: 3px;
  
  background-color: black;
  padding: 0;
  
 
}

.grid-container > div {
  
  background-color: #3f3838;;
  text-align: center;
  padding: 20px 0;
}

.form-div {
  width: 60%;
  margin: 0 auto;
  
}

.grid-left {
  background: url('/static/img/prism.png') 50% 0 repeat fixed;
}

body {
    left: 0 !important;
    top: 0 !important;
    background-color: #3f3838;
    
}

a.issue_remove_link {
  color: grey;
  text-decoration: none;
}
a.issue_remove_link:hover {
  color: red;
  text-decoration: none;
}

.rounded-left {
  border-radius: 5px 0px 0px 5px;
}
.rounded-right {
  border-radius: 0px 5px 5px 0px;
}

.messages span {
  color: royalblue;
}

#ex4 .p1[data-count]:after{
  position:absolute;
  right:10%;

  content: attr(data-count);
  font-size:70%;
  padding:.2em;
  border-radius:50%;
  line-height:1em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width: 1em;
  //font-weight:bold;
}
.navbar-inverse {
  background-color: #3f3838;
  background-image: none;
  background-repeat: no-repeat;
  
 }
.navbar-inverse .navbar-brand {
   color: gold;
 }
 
 hr {
   color: black;
 }
 
 .panel-body {
   
   background-color: #bacbd8;
 }
 
.social .side-social-logo {
   width: 60px;
   display: inline-block;
   padding-top: 20px;
  z-index: 100;
  -webkit-filter: brightness(50%); 
 }
 
.social .side-social-logo:hover {
  width: 70px;
  cursor: pointer;
}