.grid-menu { grid-area: header; }
.grid-left { grid-area: left;  }
.grid-main { grid-area: main; }
.grid-right { grid-area: right; }
.grid-footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'left main main main right right'
    'left footer footer footer footer footer';
    
  grid-template-columns: 120px 2fr 2fr 2fr 1fr 2fr;
  grid-template-rows: 20vh auto 10vh;
  grid-gap: 5px;
  
  background-color: white;
  padding: 10px;
  
  height: 100vh;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 20px 0;
}

.form-div {
  width: 60%;
  margin: 0 auto;
  
}



body {
    left: 0 !important;
    top: 0 !important;

}

a.issue_remove_link {
  color: grey;
  text-decoration: none;
}
a.issue_remove_link:hover {
  color: red;
  text-decoration: none;
}

.rounded-left {
  border-radius: 5px 0px 0px 5px;
}
.rounded-right {
  border-radius: 0px 5px 5px 0px;
}