{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %} Profile: {{ profile_user.username }} {% endblock %}
{% block content %}
    

        <br/>
        Joined on {{ profile_user.date_joined }}
        <br/>
        {{ profile_user.username }} has been a member for {{ profile_user.date_joined|timesince }} 
        <h4> Issues created</h4>
        <div class="row"><div class="col-md-2"></div>
                <div class="col-md-8 small-text">
                {% for issue in issues %}
                        <a href="{% url 'issue_details' issue.id %}"> {{ issue.name }} </a>&nbsp;&nbsp;&nbsp;&nbsp;
                        
                {% empty %}
                        <p> This user has not created any issues. </p>
                {% endfor %}
                </div><div class="col-md-2"></div>
        </div>

        <h4> Issues upvoted</h4>
        <div class="row">
                <div class="small-text col-md-offset-2 col-md-8 col-md-offset-2">
                {% for upvote in upvotes %}
                        <a href="{% url 'issue_details' upvote.product.id %}"> {{ upvote.product.name }} </a> &nbsp;&nbsp;&nbsp;&nbsp;
                        
                {% empty %}
                        <p> This user hasn't upvoted anything. </p>
                {% endfor %}
                </div>
        </div>
{% endblock %}