{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block title %} Statistics {% endblock title %}
{% block head %}
    <script type="text/javascript" src="{% static 'js/graphs.js' %}"></script>
{% endblock head %}
<script>
    {% block jquery %}
        generateGraphs();
    {% endblock jquery %}
</script>

{% block content %}

STATS
<div class="row">
    <div class="col-sm-6">
        Last 30 days
        <canvas id="myChartMonth" width="200" height="100"></canvas>
    </div>
    <div class="col-sm-6">
        Last 7 days
        <canvas id="myChartWeek" width="200" height="100"></canvas>
    </div>
</div>
{% endblock content %}