{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block title %} Statistics {% endblock title %}
{% block head %}
    <script type="text/javascript" src="{% static 'js/graphs.js' %}"></script>
{% endblock head %}
<script>
    {% block jquery %}
        generateGraphs();
    {% endblock jquery %}
</script>

{% block content %}

STATS
<div class="row">
    <div class="col-sm-6">
        Last 30 days
        <canvas id="myChartMonth" width="200" height="100"></canvas>
    </div>
    <div class="col-sm-6">
        Last 7 days
        <canvas id="myChartWeek" width="200" height="100"></canvas>
    </div>
</div>
Issues currently worked on
<div class="row">
    <div class=" text-left col-xs-offset-2 col-xs-8 col-xs-offset-2">
       {% for issue in issues %}
            <p>
                <a href="{% url 'issue_details' issue.id %}">{{ issue.name }}</a>
            </p>
       {% endfor %}
    </div>
</div>
{% endblock content %}