<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        
        <title> 
            {% block title %}
            {% endblock %}
        </title>
        {% block head %}
        {% endblock head %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js" integrity="sha256-oSgtFCCmHWRPQ/JmR4OoZ3Xke1Pw4v50uh6pLcu+fIc=" crossorigin="anonymous"></script>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        {% block head_js %}
            <!-- using this to inject stripe js on the checkout page -->
        {% endblock head_js %}
    
    </head>
    
    <body>
        <script>
            $(document).ready(function() {
                {% block jquery %}
                
                {% endblock jquery %}
            })
        </script>
        <div class="grid-container">
            <div class="grid-menu">
                <nav class="navbar navbar-inverse">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                      </button>
                      <a class="navbar-left"><img class="navbar-img" src="{% static 'img/unicorn-icon.png' %}"/></a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        
                      <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                            <li>
                                <form style="display:inline" action="{% url 'new_issue' %}">
                                    <button class="btn btn-light navbar-btn">New Issue</button>
                                </form>
                            </li>
                            <li><a href="{% url 'profile' user.username %}">My profile</a></li>
                        {% endif %}
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <!--<li class="active"><a href="{% url 'home' %}">Home</a></li>-->
                        
                        <li><a href="{% url 'hot_issues' %}">Hot issues</a></li>
                        <li><a href="{% url 'stats' %}">Statistics</a></li>
                      </ul>
                      
                      <ul class="nav navbar-nav navbar-right">
                        {% if not user.is_authenticated %}
                            <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                
                        {% else %}
                        <li id="ex4" role="presentation">        <a href="{% url 'view_cart' %}">
                                        {% if product_count > 0 %}
                                            <span class="p1 fa-stack fa-1x has-badge" data-count="{{ product_count }}"> 
                                                <i class="p1 fa fa-shopping-cart fa-stack-1x xfa-inverse" data-count=" {{ product_count }}"></i>
                                            </span>
                                        {% else %}
                                            <i class="fa fa-shopping-cart"></i>
                                        {% endif %}
                                        </a></li>
                            <li><p class="navbar-text"> Signed in as {{ user.username }} </p></li>
                            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                        
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                </nav>     
                
                <!-- left menu -->

                <br/>
                <!-- right hand side menu -->

            </div>
            
            <div class="grid-left">
                <div class="social">
                    <img class="side-social-logo" src=" {% static 'img/facebook.png' %}"/>
                    <img class="side-social-logo" src=" {% static 'img/google.png' %}"/>
                    <img class="side-social-logo" src=" {% static 'img/twitter.png' %}"/>
                    <img class="side-social-logo" src=" {% static 'img/reddit.png' %}"/>
                    <img class="side-social-logo" src=" {% static 'img/youtube.png' %}"/>
                </div>
                
            </div>
            
            <div class="grid-main">
                {%if messages %}

                <div class="messages">
                    {% for message in messages %}
                        <span> {{ message }} </span>
                    {% endfor %}
                </div>

                {% endif %}
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>                
                
            </div>
            {% block latest_issues %}
            <div class="grid-right">
                <div class="row"><div class="col-md-8 col-md-offset-1"><div id="latest_issues" class="panel panel-info">

                    <div class="panel-body text-left">
                        <div class="panel-heading">Latest Issues</div>
                        <ul class = "list-group">
                            {% for issue in latest_issues %}
                                <li class = "list-group-item">
                                    <a href="{% url 'issue_details' issue.id %}">{{ issue.name|truncatechars:50 }}</a> 
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div></div></div><!-- end panel -->
            </div>
            {% endblock latest_issues %}
            <div class="grid-footer"> Copyright 2019 @ Piotr Nowakowski</div>
        </div>



    </body>
</html>