{% extends 'base.html' %}

{% block content %}

    <h2> Detailed View</h2>
    <span style="color: green">{{ issue.name }} </span>
    {% if issue.type == 'FEATURE' and not upvoted %}
        <span style="color: pink"> <a href=" {% url 'add_upvote' issue.id issue.name %}"> upvote </a> </span>
    {% endif %}
    <p> {{ issue.body }} </p>
    <p> Posted by: <a href=" {% url 'request_username' issue.author %} ">{{ issue.author }}</a></p>
    <hr/>
    <h3> Comments </h3>
    
{% endblock content %}