{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles%}
{% block title %} {{ issue.name }} {% endblock title %}
{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 style="margin-top: 0; margin-bottom: 7vh"> Detailed View</h2>
            <div class="panel panel-primary lighten">
                <div class="panel-heading" style="text-align: left">
                    <div class="row">
                        <div class="col-md-9 col-xs-9">Title: <span style="color: #C8BFE7;">{{ issue.name }}</span> </div>
                        <div class="col-md-3 col-xs-3 text-right"> {{ issue.progress }}</div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            {% with 'img/'|add:issue.type|add:'.png' as issue_type %}
                                <img class="img-issue-type" title="{{ issue.type|lower }}" src="{% static issue_type %}"/>
                            {% endwith %}
                        </div>
                        <div class="col-md-10 text-left">
                            {{ issue.body|linebreaks }}
                        </div>
                    </div>
                    
                    
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4 col-xs-6">
                            <i class="fas fa-user"></i> &nbsp;<a href=" {% url 'profile' issue.author %} ">{{ issue.author|truncatechars:15 }}</a>
                        </div>
                        <div class="col-md-4 hidden-xs"></div>
                        <div class="col-md-4 col-xs-6 text-right">
                            Upvotes: {{ issue.upvotes }}&nbsp;&nbsp;
                            {% if not upvoted %}
                                {% if issue.type == 'FEATURE' %}
                                    <a title="upvote" href=" {% url 'add_upvote' issue.id issue.name issue.price%}"> <i class="fas fa-thumbs-up"></i> </a>
                                {% else %}
                                    <a title="upvote" href=" {% url 'add_bug_upvote' issue.id %}"> <i class="fas fa-thumbs-up"></i> </a>
                                {% endif %}
                            {% endif %}
                        
                        </div>
                    </div>
                    
                </div>
            </div>
            <hr/>
            <h3> Comments </h3>

            {% for comment in comments %}
                <div class="row">
                    <div class="col-md-2">
                        <div>
                           &nbsp;
                        </div>
                        <div>
                            <img class="avatar" src="{% static 'img/avatar-default.png' %}"/>
                        </div>
                        
                    </div>
                    <div class="col-md-10">
                        <div>
                            <p class="comment_head">
                                <a href="{% url 'profile' comment.author %}">{{ comment.author }}</a> {{ comment.created|timesince }} ago.
                            </p>
                        </div>
                        <div>
                            <p class="comment_body" >{{ comment.text }} </p>
                        </div>
                    </div>
                </div>
                <br/>
            {% endfor %}
            <hr/>
            {% if user.is_authenticated %}
        
                <form action="{% url 'add_comment' issue.id %}" method="POST">
                    {% bootstrap_form comment_form %}
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit" > Submit</button>
                </form>
        
            {% endif %}
        </div>
        <div class="col-md-2"> </div>
    </div>
{% endblock content %}