{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="row " style="text-align: center;">
        <div class="content " style=" margin: 0 auto; width: 70%">
            {% for issue in issues %}
                
                
                <div class="panel panel-primary">
                    <div class="panel-heading" style="background-color: black">
      
                        <div class="row">

                            <div class="col-sm-3 hidden-xs">
                                {% if issue.type == "BUG" %}
                                    <img class="list-icon " src=" {% static 'img/BUG.png' %} "/>
                                {% else %}
                                    <img class="list-icon " src=" {% static 'img/FEATURE.png' %} "/>
                                {% endif %} 
                                
                                <span style="color: #C8BFE7"> {{ issue.progress }}</span>
                            </div>
                            <div class="col-sm-6 col-xs-9">
                                {{ issue.name }}
                            </div>
                            <div class="col-sm-3 col-xs-3 text-right">
                                <i class="far fa-heart"></i> {{ issue.upvotes }}
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p> {{ issue.body|linebreaks|truncatechars:50 }} </p>
                        
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-8 col-xs-8">
                                <i class="fas fa-user"></i> &nbsp;<a href=" {% url 'profile' issue.author %} ">{{ issue.author|truncatechars:15 }}</a>
                            </div>
                            <div class="col-sm-4 col-xs-4 text-right">
                                <a href=" {% url 'issue_details' issue.id %}">View</a>
                            </div>

                        </div>
                    </div>
                
                </div>
        
            {% endfor %}
        </div>
    </div>
{% endblock content %}